@import "~scss/_utility.scss";

.GridLayer {
  @include module-container();
  @include grid(12);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &--show {
    display: grid;
  }
}

