node_modules
.env
dist
\.idea\workspace.xml
.idea/.idea.boSite.dir/.idea/workspace.xml
.idea/.idea.boSite.dir/.idea/codeStyles/codeStyleConfig.xml
.idea/.idea.boSite.dir/.idea/codeStyles/Project.xml
.idea/.idea.boSite.dir/.idea/workspace.xml
.idea/.idea.boSite.dir/.idea/workspace.xml
