@import "~scss/_utility.scss";

.Header__LinkList {
  display: flex;
  justify-content: center;
  grid-column: span 1;

  &--active:after {
    @include responsive-font-size(25, 25);
    bottom: -9px;
    color: $c_ash-grey;
    content: $i_arrow-down;
    font-family: "LigatureSymbols", sans-serif;
    position: absolute;
    transform: rotate(180deg);
  }

  &--Home {
    grid-area: home;
  }

  &--PaperCounter {
    grid-area: paper;
  }

  &--Recipes {
    grid-area: recipes;
  }
}