@import "~scss/_utility.scss";

.Header__LinkPointerWrapper {
  @include grid();
  grid-column: span 12;
  grid-template-areas:
          ". . . . . . . . . home paperCounter recipes";
}

.Header__LinkPointerArrow {
  @include responsive-font-size(20, 20);
  align-content: flex-end;
  color: $c_ash-grey;
  display: flex;
  font-family: "LigatureSymbols", sans-serif;
  height: 0;
  justify-content: center;
  line-height: 15px;
  grid-area: home;

  &--Home {
    grid-area: home;
  }

  &--PaperCounter {
    grid-area: paperCounter;
  }

  &--Recipes {
    grid-area: recipes;
  }
}

.Header__LinkPointerArrow:before {
  content: $i_arrow-down;
  bottom: -5px;
  transform: rotate(180deg);
  position: relative;
}
