@import "~scss/_global-mixins.scss";

.link-wrapper {
  grid-column: span 2;
}

.link {
  font-size: 1rem;
  margin-bottom: 15px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.link:hover {
  color: $c_sunny-bo;
  border-color: $c_sunny-bo;
}

.link:hover .link__recipes {
  color: $c_sunny-bo;
}

.link__image {
  width: 50px;
}

.link:first-letter {
  text-transform: uppercase;
}

.link__home {
  grid-area: home;
}

.link__recipes {
  grid-area: recipes;
}