@import "~scss/_utility.scss";

.Header__Link {
  @include responsive-font-size(10, 15);
  font-family: "LigatureSymbols", sans-serif;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.no-touch .Header__Link:hover {
  color: $c_sunny-bo;
}

.Header__Link:before {
  @include responsive-font-size(25, 25);
  display: block;

  @include respond-to(2 3 4) {
    @include responsive-font-size(40, 40);
  }
}

.Header__Link--Home:before {
  content: $emoji_heart;
}

.Header__Link--TissueCounter:before {
  content: $emoji_tissue;
}

.Header__Link--Recipes:before {
  content: $emoji_memo;
}