@import "~scss/_utility.scss";

.Header__Navigation {
  @include flex();
  @include grid-column(5, 12);
  align-items: center;
  position: relative;
  justify-content: flex-end;

  @include respond-to(2) {
    @include grid-column(4, 13);
  }
}
