@import "~scss/_utility.scss";

.Header__Link {
  @include responsive-font-size(10, 15);
  font-family: "LigatureSymbols", sans-serif;
  margin-top: auto;
  padding-bottom: 25px;
  text-align: center;
}

.no-touch .Header__Link:hover {
  color: $c_sunny-bo;
}

.Header__Link:before {
  @include responsive-font-size(40, 40);
}

.Header__Link--Home:before {
  content: $i_home;
}

.Header__Link--PaperCounter:before {
  content: $i_paper;
}

.Header__Link--Recipes:before {
  content: $i_recipes;
}