@import "~scss/_utility.scss";

.Header__LinkList {
  @include flex();
  justify-content: center;
}

.Header__LinkList:nth-child(n+2) {
  margin-left: 20px;
}

.Header__LinkList--active:after {
  @include responsive-font-size(25, 25);
  @include transform(rotate, (180deg));
  bottom: -15px;
  color: $c_light-grey;
  content: $i_arrow-down;
  font-family: "LigatureSymbols", sans-serif;
  position: absolute;
}
