@import "~scss/_utility.scss";

.Navigation__LinkList {
  @include flex();
  background-color: transparent;
  border-radius: 3px;
  justify-content: center;
}

.no-touch .Navigation__LinkList:hover .Navigation__Link {
  @include transform(scale, 1.1);
}

.Navigation__LinkList--Active {
  background-color: rgba($c_sunny-bo, 0.4);
}