@import "~scss/_utility.scss";

.Navigation__Link {
  border-radius: inherit;
  font-family: "LigatureSymbols", sans-serif;
  text-align: center;
  width: 100%;
}

.no-touch .Navigation__Link:hover {
  color: $c_sunny-bo;
}

.Navigation__Link:before {
  @include responsive-font-size(25, 25);
  @include box-shadow(0, 0, 8, -5, rgba($c_vanta-black, 0.8));
  border-radius: inherit;
  display: block;
  padding: 10px;

  @include respond-as-of(1) {
    @include responsive-font-size(25, 40);
  }
}

.Navigation__Link--Home:before {
  content: $emoji_toolbox;
}

.Navigation__Link--AudioSampleBox:before {
  content: $emoji_headphone;
}

.Navigation__Link--TissueCounter:before {
  content: $emoji_tissue;
}

.Navigation__Link--Recipes:before {
  content: $emoji_recipes;
}