@import "~scss/_utility.scss";

.Footer {
  @include module-container(fluid);
  background-color: $c_lighter-grey;
  flex-shrink: 0;
}

.Footer__Container {
  @include module-container();
  @include grid(12);
  padding: 30px 0 20px;
}

.Footer__Text {
  @include flex();
  @include grid-column(11, 13);
  justify-content: flex-end;
}

.Footer__ContainerEmoji {
  @include responsive-font-size(5, 5);
  margin: 2px 5px 0 0;
}