@import "~scss/_utility.scss";

.Footer {
  @include module-container(fluid);
  background-color: $c_lighter-grey;
  flex-shrink: 0;
}

.Footer__Container {
  @include module-container();
  @include grid(12);
  padding: 20px 0 10px;
}

.Footer__Text {
  @include flex();
  @include grid-column(8, 12);
  justify-content: flex-end;

  @include respond-as-of(1) {
    @include grid-column(10, 13);
  }
}

.Footer__Emoji {
  @include responsive-font-size(8, 8);
  margin: 2px 5px 0 0;
}