@import "~scss/_utility.scss";

.SamplePlayer__Control {
  @include box-shadow(0, 0, 3, 0, rgba($c_vanta-black, 0.5));
  @include grid-span(row, 2);
  border-radius: 3px;
  height: 50px;
  position: relative;
  width: 50px;
}

.SamplePlayer__Control:after {
  @include ligature-symbols-icon($i_sync);
  @include responsive-font-size(20, 25);
  @include transform(translate, (-50%, -50%));
  @include transition(transform 0.5s);
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
}

.SamplePlayer__Control--Play:after {
  @include ligature-symbols-icon($i_play);
}

.SamplePlayer__Control--Pause:after {
  @include ligature-symbols-icon($i_pause);
}

.SamplePlayer__Control--Loading:after {
  @include ligature-symbols-icon($i_sync);
  animation: rotating 2s linear infinite;
  transform-origin: 50% 47%;
}

.SamplePlayer__Control:focus {
  outline: none;
}

.no-touch .SamplePlayer__Control:hover {
  @include box-shadow(0, 0, 3, 0, rgba($c_vanta-black, 0.7));
  cursor: pointer;
}

@keyframes rotating {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}