@import "~scss/_utility.scss";

.Sample__Player {
  display: grid;
  align-items: flex-end;
  grid-column-gap: 1vw;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  opacity: 1;
  transition: opacity 0.5s;
}

.Sample__Player--Loaded {
  opacity: 1;
}