@import "~scss/_utility.scss";

.SamplePlayer__ProgressBar {
  @include grid-span(column, 12);
  background-color: $c_grey-004;
  border-radius: 5px;
  grid-row: 3;
  height: 6px;
  margin-top: 6px;
  overflow: hidden;
  width: 100%;
}

.SamplePlayer__ProgressBar--filler {
  background-color: rgba($c_holy-green, 0.6);
  border-radius: 5px;
  display: block;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s;
  width: 100%;
}