@mixin respond-to($breakpoint-indices) {

  $phone:             "only screen and (max-width: 599px)";
  $tablet-portrait:   "only screen and (min-width: 600px) and (max-width: 899px)";
  $tablet-landscape:  "only screen and (min-width: 900px) and (max-width: 1199px)";
  $desktop:           "only screen and (min-width: 1200px) and (max-width: 1799px)";
  $desktop-large:     "only screen and (min-width: 1800px)";

  //@if ($breakpoint-indices > 0) {
    @each $breakpoint in $breakpoint-indices {
      @if nth($breakpoint, 1) == 1 {
        @media #{$phone} { @content }
      }
      @else if nth($breakpoint, 2) == 2 {
        @media #{$tablet-portrait} { @content }
      }
      @else if nth($breakpoint, 3) == 3 {
        @media #{$tablet-landscape} { @content }
      }
      @else if nth($breakpoint, 4) == 4 {
        @media #{$desktop} { @content }
      }
      @else if nth($breakpoint, 5) == 5 {
        @media #{$desktop-large} { @content }
      }
    }
  //}
  //@else {
  //  @warn 'ERROR: respond-to was called with invalid arguments: ' + $breakpoint-indices '';
  //}
}
