@import "~scss/_utility.scss";

.PaperCalculator {
  @include grid-column(2, 8);
  border-radius: 20px;
  padding: 20px 10px 0;

  &:nth-child(n+2) {
    margin-top: 10px;
  }

  &--Cheapest {
    background-color: $c_light-green;
  }
}