@import "~scss/_utility.scss";

.SamplePlayer__Control {
  border: 1px solid;
  border-radius: 3px;
  grid-row: span 2;
  grid-column-end: -1;
  height: 50px;
  position: relative;
  width: 50px;
}

.SamplePlayer__Control:after {
  @include ligature-symbols-icon($i_sync);
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s;
}

.SamplePlayer__Control--Play:after {
  @include ligature-symbols-icon($i_play);
}

.SamplePlayer__Control--Pause:after {
  @include ligature-symbols-icon($i_pause);
}