@import "~scss/_utility.scss";

.Sample__Player {
  @include grid(12);
  align-items: flex-end;
  grid-template-rows: repeat(3, auto);
  opacity: 0;
  transition: opacity 0.5s;
}

.Sample__Player--Loaded {
  opacity: 1;
}