@import "~scss/_utility.scss";

.CalculatorOutputContainer {
  margin-top: 5px;
  width: 100%;
}

.CalculatorOutput {
  @include flex();
  @include responsive-font-size(20, 30);
  @include transition(opacity 400ms linear);
  align-items: baseline;
  opacity: 0.1;
}

.CalculatorOutput__Currency {
  @include responsive-font-size(15, 30);
}

.CalculatorOutput__Text {
  @include responsive-font-size(10, 15);
  margin-left: 5px;
}

.CalculatorOutput__ClearButton {
  @include flex();
  @include responsive-font-size(25, 25);
  @include transition(opacity 400ms linear);
  padding: 0 6px;
  margin-left: auto;
  opacity: 0;
}

.no-touch .CalculatorOutput__ClearButton:hover {
  color: $c_holy-green;
}

.CalculatorOutput__ClearButton:after {
  @include ligature-symbols-icon($i_plus);
  @include transform(rotate, 45deg);
}

.CalculatorOutput--Show,
.CalculatorOutput--Show .CalculatorOutput__ClearButton {
  opacity: 1;
}
