@import "~scss/_utility.scss";

.TissueCalculator {
  @include grid-column(2, 8);
  border: 1px solid $c_light-grey;
  display: flex;
  flex-direction: column;
  padding: 15px;

  @include respond-to(3) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include respond-to(4 5) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.TissueCalculator:nth-child(1) {
  border-bottom: 0;
  border-radius: 20px 20px 0 0;
}

.TissueCalculator:nth-child(2) {
  border-radius: 0 0 20px 20px;
  border-top: 0;
}

.TissueCalculator--Pricey {
  background-color: $c_tomato-red;
}

.TissueCalculator--Lowest {
  background-color: $c_light-green;
}