@import "~scss/_utility.scss";

.Emoji {
  &.Emoji__Heart:after {
    content: $emoji_heart;
  }

  &.Emoji__House:after {
    content: $emoji_house;
  }

  &.Emoji__Memo:after {
    content: $emoji_memo;
  }

  &.Emoji__Tissue:after {
    content: $emoji_tissue;
  }

  &.Emoji__Audio:after {
    content: $emoji_headphone;
  }

  &.Emoji__Recipes:after {
    content: $emoji_recipes;
  }

  &.Emoji__MusicNote:after {
    content: $emoji_music-note;
  }

  &.Emoji__FriedEgg:after {
    content: $emoji_fried-egg;
  }

  &.Emoji__HammerWrench:after {
    content: $emoji_hammer-wrench;
  }

  &.Emoji__Bathtub:after {
    content: $emoji_bathtub;
  }
}