@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");

@font-face {
  font-family: 'LigatureSymbols';
  src: url('../fonts/LigatureSymbols-2.11.eot');
  src: url('../fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LigatureSymbols-2.11.woff') format('woff'),
  url('../fonts/LigatureSymbols-2.11.ttf') format('truetype'),
  url('../fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
  src: url('../fonts/LigatureSymbols-2.11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}