@import "~scss/_utility.scss";

.TissueInputWheel {
  @include grid-span(column, 1);
}

.TissueInputWheel__Container {
  height: 80px;
  overflow-x: scroll;
  scroll-snap-type: y mandatory;
  text-align: center;
  width: 100%;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.TissueInputWheel__Number {
  //background-color: $c_blue-004;
  font-size: 30px;
  line-height: 1.4;
  outline: 0;
  opacity: 0.5;
  padding: 0 10px;
  transition: opacity 0.24s;
  scroll-snap-align: center;

  &:first-child {
    padding-top: 20px;
  }

  &:last-child {
    padding-bottom: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

.TissueInputWheel__Number--Active {
  //border-bottom: 1px dashed $c_vanta-black;
  //border-top: 1px dashed $c_vanta-black;
  opacity: 1;
}

.TissueInputWheel__Button {
  border: 1px solid;
  font-family: "LigatureSymbols", sans-serif;
  width: 100%;

  &:after {
    @include flex();
    place-content: center;
  }

  &:hover {
    cursor: pointer;
  }
}

.TissueInputWheel__Button--Up:after {
  content: $i_up;
}

.TissueInputWheel__Button--Down:after {
  content: $i_down;
}
