@import "~~scss/_utility.scss";

.AudioSampleBox__Content {
  @include box-shadow(0, 0, 10, -5, rgba($c_vanta-black, 1));
  @include grid(12);
  @include grid-span(12);
  @include module-margin-top();
  background-color: $c_grey-001;
  padding: 30px 0;
  position: relative;

  @include respond-as-of(1) {
    @include grid-column(2, 12);
    border-radius: 20px;
    padding: 60px 0;
  }

  @include respond-as-of(2) {
    @include grid-column(3, 11);
  }
}