@import "~scss/_utility.scss";

.Samples__Collection {
  max-height: 0;
  padding-bottom: 10px;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s, opacity 0.5s;
}

.Samples__Collection--Expanded {
  max-height: 500px;
  opacity: 1;
}