@import "~~scss/_utility.scss";

.Samples__Category {
  @include flex();
  @include responsive-font-size(25, 30);
  position: relative;
  outline: 0;
}

.no-touch .Samples__Category:hover {
  cursor: pointer;
}

.Samples__Category:after {
  @include flex();
  @include ligature-symbols-icon($i_down);
  @include responsive-font-size(30, 30);
  align-items: center;
  color: $c_sunny-bo;
  height: 100%;
  position: absolute;
  right: 14px;
  transform: rotate(0deg);
  transition: transform 0.3s, color 0.2s;
  top: 0;
}

.Samples__Category.Samples__Category--Expanded:after {
  color: $c_holy-green;
  transform: rotate(180deg);
}

.SamplesCategory__Emoji {
  margin-left: 5px;
}