$emoji_heart: "❤️";
$emoji_headphone: "🎧";
$emoji_house: "🏠";
$emoji_memo: "📝";
$emoji_recipes: "🍜";
$emoji_music-note: "🎵";
$emoji_tissue: "🧻";
$emoji_toolbox: "🧰";
$emoji_fried-egg: "🍳";
$emoji_hammer-wrench: "🛠️";
$emoji_bathtub: "🛁";