@mixin responsive-font-size($min, $max) {
  font-size: calc(#{$min}px + (#{$max} - #{$min}) * ((100vw - 300px) / (1440 - 300)));
}

@mixin ligature-symbols-icon($icon) {
  font-family: "LigatureSymbols", sans-serif;
  content: $icon;
}