@mixin grid($columns: 12) {
  display: grid;
  grid-column-gap: 1vw;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin grid-start-end($start, $end) {
  grid-column-start: $start;
  grid-column-end: $end;
}

@mixin grid-span($columns) {
  grid-column: span #{$columns};
}
