// @include grid(repeat(4, 1fr), 5px, auto, 5px);
@mixin grid($columns: "", $colGap: "", $row: "", $rowGap: "") {
  display: grid;

  @if $columns != "" {
    grid-template-columns: $columns;
  }
  @if $colGap != ""  {
    grid-column-gap: $colGap;
  }

  @if $row != ""  {
    grid-template-rows: $row;
  }
  @if $rowGap != "" {
    grid-row-gap: $rowGap;
  }
}

// @include grid-span(column, 12);
@mixin grid-span($direction, $span) {
  #{"grid-"}#{$direction}: span $span;
}

// @include grid-column(1, 13);
@mixin grid-column($start, $end) {
  grid-column: #{$start} / #{$end};
}

// @include grid-row(2, 2);
@mixin grid-row($start, $end) {
  grid-row: #{$start} / #{$end};
}
