// @mixin grid($columns: 12) {
//   display: grid;
//   grid-column-gap: 1vw;
//   grid-template-columns: repeat($columns, 1fr);
// }

// @include grid(repeat(12, 1fr), 1vw);
@mixin grid($columns: "", $colGap: "", $row: "", $rowGap: "") {
  display: grid;

  @if $columns != "" {
    grid-template-columns: $columns;
  }
  @if $colGap != ""  {
    grid-column-gap: $colGap;
  }

  @if $row != ""  {
    grid-template-rows: $row;
  }
  @if $rowGap != "" {
    grid-column-gap: $rowGap;
  }
}

@mixin grid-span($direction, $span) {
  #{"grid-"}#{$direction}: span $span;
}

@mixin grid-column($start, $end) {
  grid-column: #{$start} / #{$end};
}

@mixin grid-row($start, $end) {
  grid-row: #{$start} / #{$end};
}
