@import "./_responsive.scss";

@mixin module-container($fluid: null) {
  @if $fluid == "fluid"{
    width: 100%;
  } @else {
    margin-left: auto;
    margin-right: auto;

    @include respond-to(1) {
      width: 100%;
    }
    @include respond-to(2) {
      width: 90%;
    }
    @include respond-to(3 4 5) {
      width: 80%;
    }
  }
}