@mixin respond-as-of($breakpoint-indices) {

  $for-phone-only: "only screen and (max-width: 599.98px)";
  $for-tablet-portrait-up: "only screen and (min-width: 600px)";
  $for-tablet-landscape-up: "only screen and (min-width: 900px)";
  $for-desktop-up: "only screen and (min-width: 1200px)";
  $for-big-desktop-up: "only screen and (min-width: 1800px)";

  @if $breakpoint-indices {
    @for $i from 1 through length($breakpoint-indices) {
      $breakpoint-index: nth($breakpoint-indices, $i);

      @if $breakpoint-index == 0 {
        @media #{$for-phone-only} { @content }
      } @else if $breakpoint-index == 1 {
        @media #{$for-tablet-portrait-up} { @content }
      } @else if $breakpoint-index == 2 {
        @media #{$for-tablet-landscape-up} { @content }
      } @else if $breakpoint-index == 3 {
        @media #{$for-desktop-up} { @content }
      } @else if $breakpoint-index == 4 {
        @media #{$for-big-desktop-up} { @content }
      } 
      @else {
        @error 'ERROR: respond-as-of was called with invalid arguments: ' + $breakpoint-indices;
      }
    }
  }
  @else {
    @error 'ERROR: respond-as-of was called with invalid arguments: ' + $breakpoint-indices;
  }
}
