@import "~scss/_global";
@import "~scss/_utility.scss";

html {
  color: $c_vanta-black;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  @include responsive-font-size(26, 32);
}

h2 {
  @include responsive-font-size(18, 24);
}

.Headline {
  @include grid-span(column, 12);
}

