@import "~scss/_utility.scss";

.Sample__Player {
  @include flex();
  @include grid-column(5, 13);
  opacity: 1;
  transition: opacity 0.5s;
}

.Sample__Player--Loading {
  opacity: 0;
}

.Sample__PlayerControl {
  border: 1px solid;
  border-radius: 3px;
  height: 25px;
  margin-right: 5px;
  position: relative;
  width: 25px;
}

.Sample__PlayerControl:after {
  @include ligature-symbols-icon($i_play);
}

.Sample__PlayerControl:last-child {
  margin-right: 0;
}

.Sample__PlayerControl:after {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s;
}