@import "~scss/_utility.scss";

.Sample__Category {
  @include responsive-font-size(25, 30);
  position: relative;
}

.Sample__Category:after {
  @include flex();
  @include responsive-font-size(20, 25);
  align-items: center;
  content: $i_arrow-up;
  height: 100%;
  position: absolute;
  right: 0;
  transform: rotate(0deg);
  transition: transform 0.24s;
  top: 0;
}