@import "~scss/_utility.scss";

.SiteTile {
  grid-column: span 6;

  @include respond-as-of(1) {
    @include grid-span(column, 3)
  }
}

.SiteTile:nth-child(n+2) {
  margin-top: 20px;

  @include respond-as-of(1) {
    margin-top: 0;
  }
}

.SiteTile:nth-child(n+3) {
  @include respond-as-of(1) {
    margin-top: 20px;
  }
}

.SiteTile__Anchor {
  width: 100%;
}

.SiteTile__ImageWrapper {
  @include flex();
  border-radius: 5px;
  overflow: hidden;
}

.no-touch .SiteTile__Anchor:hover .SiteTile__Image {
  @include transform(scale, 1.1);
}

.SiteTile__Image {
  border-radius: 5px;
  height: 200px;
  min-width: 100%;
  object-fit: cover;
  transition: transform 0.25s;
  width: 100%;

  @include respond-as-of(2) {
    height: 250px;
  }
}

.SiteTileText__Container {
  @include flex();
  align-items: center;
  margin-top: 5px;
}

.SiteTileText__Emoji {
  @include responsive-font-size(20, 25);
}

.SiteTile__Text {
  @include responsive-font-size(20, 25);
  margin-left: 5px;
}