@import "~scss/_utility.scss";

.PriceOutput__Container {
  @include flex();
  @include responsive-font-size(20, 30);
  @include transition(opacity 400ms linear);
  align-items: baseline;
  opacity: 0.1;
}

.PriceOutput__Currency {
  @include responsive-font-size(15, 30);
}

.PriceOutput__Text {
  @include responsive-font-size(10, 15);
  margin-left: 5px;
}

.PriceOutput__ClearButton {
  @include flex();
  @include responsive-font-size(25, 25);
  @include transition(opacity 400ms linear);
  padding: 0 6px;
  margin-left: auto;
}

.no-touch .PriceOutput__ClearButton:hover {
  color: $c_holy-green;
}

.PriceOutput__ClearButton:after {
  @include ligature-symbols-icon($i_plus);
  @include transform(rotate, 45deg);
}

.PriceOutput--Show,
.PriceOutput--Show .PriceOutput__ClearButton {
  color: $c_grey-003;
  opacity: 1;
}
