@import "~scss/_utility.scss";

.PriceContainer {
  grid-column: span 3;
  grid-row: 2;
}

.Price__Input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  outline: 0;
  width: 100%;
}
