@import "~scss/_utility.scss";

.TissuePriceCalculatorInput__Container:nth-child(n+2) {
  margin-top: 20px;
}

.TissuePriceCalculatorInput__RangeContainer {
  @include flex();
  flex-direction: column;
  margin-top: 10px;
}

.TissuePriceCalculatorInput__RangeInput {
  position: relative;
}

.TissuePriceCalculatorInput__ProgressBar {
  background-color: $c_white-002;
  border-radius: 5px;
  height: 8px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 8px;
  z-index: 1;
  width: 100%;
}

.TissuePriceCalculatorInput__ProgressBar--filler {
  background-color: rgba($c_holy-green, 0.6);
  display: block;
  height: 100%;
  width: 0;
}

.TissuePriceCalculatorInput__RangeSlider {
  @include box-shadow(0, 0, 5, -3, rgba($c_vanta-black, 1));
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  margin: 0;
  outline: none;
  opacity: 1;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 2;

  &::-webkit-slider-thumb {
    @include box-shadow(0, 0, 6, -3, rgba($c_vanta-black, 1));
    background-color: $c_sunny-bo;
    border: 1px solid $c_vanta-black;
    border-radius: 5px;
    cursor: ew-resize;
    height: 20px;
    transition: background-color 0.25s;
    width: 40px;
    -webkit-appearance: none;
  }

  &:active::-webkit-slider-thumb {
    @include box-shadow(0, 0, 15, 15, rgba($c_sunny-bo, 0.3));
  }
}

.no-touch .TissuePriceCalculatorInput__RangeSlider {
  &:hover {
  }

  &:active::-webkit-slider-thumb {
    box-shadow: none;
  }
}

.TissuePriceCalculatorInput__RangeOutput {
  @include grid(repeat(12, 1fr), 1vw);
  align-items: flex-end;
}

.TissuePriceCalculatorInput__RangeOutputValue {
  @include grid-span(column, 3);
  @include responsive-font-size(20, 20);
  @include box-shadow(0, 0, 7, -5, rgba($c_vanta-black, 1));
  background-color: $c_sunny-bo;
  border-radius: 5px;
  padding: 2px 10px;
  text-align: right;
}

.TissuePriceCalculatorInput__RangeOutputValue--blink {
  @include box-shadow(0, 0, 7, -5, rgba($c_vanta-black, 1));
}

.TissuePriceCalculatorInput__RangeOutputText {
  @include flex();
  @include grid-span(column, 4);
  align-items: center;
  height: 100%;
}
