@import "~scss/_utility.scss";

.TissuePriceCalculatorInputContainer {
  @include flex();
  flex-direction: column;
}

.TissuePriceCalculatorInput__RangeContainer {
  @include flex();
  flex-direction: column;
}

.TissuePriceCalculatorInput__RangeContainer:nth-child(n+2) {
  margin-top: 10px;
}

.TissuePriceCalculatorInput__Output {
  @include grid(12);
}

.TissuePriceCalculatorInput__OutputText {
  @include grid-span(4);
}

.TissuePriceCalculatorInput__OutputValue {
  @include grid-span(4);
  text-align: center;
}

.TissuePriceCalculatorInput {
  @include responsive-font-size(20, 35);
  @include transition(box-shadow 200ms ease-out);
  @include grid-span(2);
  border: 0;
  border-radius: 12px;
  padding: 10px;
  position: relative;
  outline: none;
  text-align: center;

  @include respond-as-of(1) {
    @include responsive-font-size(30, 35);
    padding: 15px 10px;
  }

  @include placeholder {
    @include responsive-font-size(15, 30);
    @include transform(translateY, 3px);
    color: $c_holy-green;
    line-height: normal !important;

    @include respond-as-of(1) {
      @include responsive-font-size(20, 30);
    }
  }
}

.TissuePriceCalculatorInput:nth-child(odd) {
  margin-left: 10px;

  @include respond-as-of(1) {
    margin-left: 20px;
  }
}

.TissuePriceCalculatorInput:nth-child(even) {
  margin-right: 10px;

  @include respond-as-of(1) {
    margin-right: 20px;
  }
}

.TissuePriceCalculatorInput:focus {
  @include box-shadow(0, 0, 10, -5, rgba($c_vanta-black, 1));
}
