@import "~scss/_utility.scss";

.TissuePriceCalculatorInputContainer {
  @include grid(4);
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
}

.TissuePriceCalculatorInput {
  @include responsive-font-size(25, 35);
  @include transition(box-shadow 200ms ease-out);
  @include grid-span(2);
  border: 0;
  border-radius: 12px;
  padding: 10px;
  position: relative;
  outline: none;
  text-align: center;

  @include respond-to(2) {
    padding: 15px 10px;
  }

  @include placeholder {
    @include responsive-font-size(20, 30);
    @include transform(translateY, 3px);
    color: $c_holy-green;
    line-height: normal !important;
  }
}

.TissuePriceCalculatorInput:nth-child(odd) {
  @include respond-to(2) {
    margin-left: 20px;
  }
}

.TissuePriceCalculatorInput:nth-child(even) {
  @include respond-to(2) {
    margin-right: 20px;
  }
}

.TissuePriceCalculatorInput:focus {
  @include box-shadow(0, 0, 10, -5, rgba($c_vanta-black, 1));
}
