@import "~scss/_utility.scss";

.TissueInputWheel {
  @include grid-span(column, 1);
}

.TissueInputWheel__Container {
  height: 80px;
  overflow-x: scroll;
  scroll-snap-type: y mandatory;
  text-align: center;
}

.TissueInputWheel__Container::-webkit-scrollbar {
  display: none;
}

.TissueInputWheel__Number {
  background-color: $c_blue-004;
  font-size: 30px;
  line-height: 1.4;
  padding: 0 10px;
  scroll-snap-align: center;
}

.TissueInputWheel__Number:first-child {
  padding-top: 20px;
}

.TissueInputWheel__Number:last-child {
  padding-bottom: 20px;
}

.TissueInputWheel__Number:nth-child(n+2) {
  border-top: 1px dashed $c_grey-001;
}

.TissueInputWheel__Button {
  border: 1px solid;
  font-family: "LigatureSymbols", sans-serif;
}

.TissueInputWheel__Button:after {
  @include flex();
  place-content: center;
}
.TissueInputWheel__Button:hover {
  cursor: pointer;
}

.TissueInputWheel__Button--Up:after {
  content: $i_up;
}

.TissueInputWheel__Button--Down:after {
  content: $i_down;
}