@import "~scss/_utility.scss";

.TissuePriceCalculatorOutputContainer {
  margin-top: 5px;
  width: 100%;

  @include respond-as-of(1) {
    padding: 0 20px;
  }
}

.TissuePriceCalculatorOutput {
  @include flex();
  @include responsive-font-size(20, 30);
  @include transition(opacity 400ms linear);
  align-items: baseline;
  opacity: 0.1;
}

.TissuePriceCalculatorOutput__Currency {
  @include responsive-font-size(15, 30);
}

.TissuePriceCalculatorOutput__Text {
  @include responsive-font-size(10, 15);
  margin-left: 5px;
}

.TissuePriceCalculatorOutput__ClearButton {
  @include flex();
  @include responsive-font-size(25, 25);
  @include transition(opacity 400ms linear);
  padding: 0 6px;
  margin-left: auto;
}

.no-touch .TissuePriceCalculatorOutput__ClearButton:hover {
  color: $c_holy-green;
}

.TissuePriceCalculatorOutput__ClearButton:after {
  @include ligature-symbols-icon($i_plus);
  @include transform(rotate, 45deg);
}

.TissuePriceCalculatorOutput--Show,
.TissuePriceCalculatorOutput--Show .TissuePriceCalculatorOutput__ClearButton {
  opacity: 1;
}
