@import "~scss/_utility.scss";
.TissuePriceCalculator {
  @include box-shadow(0, 0, 10, -5, rgba($c_vanta-black, 1));
  @include grid(12);
  @include grid-column(2, 12);
  border: 1px solid $c_light-grey;
  padding: 30px 0 15px;

  @include respond-as-of(2) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include respond-as-of(3) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.TissuePriceCalculator:nth-child(1) {
  border-bottom: 0;
  border-radius: 20px 20px 0 0;
}

.TissuePriceCalculator:nth-child(2) {
  border-radius: 0 0 20px 20px;
  border-top: 0;
}

.TissuePriceCalculator--Pricey {
  background-color: $c_tomato-red;
}

.TissuePriceCalculator--Lowest {
  background-color: $c_light-green;
}

.TissuePriceCalculator__Input {
}

.TissuePriceCalculator__Output {
  margin-top: 5px;

  @include respond-as-of(1) {
    padding: 0 20px;
  }
}